<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoscol52"
        android:label="Coleccíon"
        android:supportsRtl="true"
        tools:targetApi="34">

        <activity
            android:name=".EntryScreen"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CardArea"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name=".Settings"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name=".GameOverScreen"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name=".HighScoreScreen"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name=".HelpScreens"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

    </application>

</manifest>
